// Header Sectiona
* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	box-sizing: border-box;
}
.header {
	padding: 0%;
	margin: 0px;
}
nav {
	background: #ebebe5;
	height: 75px;
	width: 100%;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: #0a472e;
	font-size: 16px;
	padding: 7px 13px;
	border-radius: 3px;
	// text-transform: uppercase;
}
a.hvr a:hover {
	background: #1b9bff;
	transition: 0.5s;
}
// footer Section
.container {
	max-width: 1170px;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style: none;
}
.footer {
	background-color: #24262b;
	padding: 70px 0;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}
.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.organic {
	padding-left: 500px;
}

.catagori {
	color: #0a472e;
}

.Best_Product {
	padding-top: 90px;
}
.contant_text {
	padding-top: 80px;
	font-size: 24px;
}
.body_img {
	padding-top: 50px;
	padding-bottom: 30px;
}
.farmer {
	border-radius: 80%;
}
.CatImg {
	padding-top: 50px;
}

// slider
/* external css: flickity.css */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.carousel {
	margin-top: 10px;
	margin-bottom: 30px;
	background: #ffffff;
}

.carousel-cell {
	width: 90%;
	height: 300px;
}

// /* cell number */
.carousel-cell:before {
	display: block;
}

// corocel slider
.sec {
	color: #0a472e;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sec b {
	color: #ffc000;
}
.sec::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}

// card

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
	height: 100%;
}

.price {
	color: grey;
	font-size: 22px;
}

.card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #0a472e;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.card button:hover {
	opacity: 0.7;
}

.imgggg {
	height: 250px;
	width: 230px;
}
 
// Gomati products
.sec1 {
	color: #0a472e;
	padding-top: 70px;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sec1 b {
	color: #ffc000;
}
.sec1::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
