<!-- Header Section -->
<div class="header">
  <nav>
    <label class="logo">
      <img style="height: 84px; width: 140px;" src="../assets/Logo-1.png">
    </label>
    <ul>
      <li><a class="hvr" href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Service</a></li>

    </ul>
  </nav>
</div>


<div class="img1" fxLayout="column" fxLayoutAlign="space-evenly center">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <img src="../assets/rev-slider_h2_img.png">
    <div>
      <img style="height: 400px; width:auto;" src="../assets/rev-slider_h2_img2.png">
      <img style="height: 250px; width:auto; border-radius: 80%;" src="../assets/2-2-vegetable-png-clipart.png">
    </div>
  </div>
</div>

<div class="organic">
  <img src="../assets/icon1-h8.jpg">
</div>

<div class="catagori" fxLayout="row" fxLayoutAlign="space-evenly center">
  <h2><span class="material-icons" style="font-size: 30px;"> loyalty </span>
    Curated Products
    <h5>Made with passion by 300+ <br>
      curators across the country.</h5>
  </h2>

  <h2><i class='fas fa-cannabis'></i>
    Handmade
    <h5>from Handpicked Sellers</h5>

  </h2>
  <h2><i class='fas fa-leaf'></i>
    100% Natural
    <h5>Eat local, consume local,<br>
      closer to nature.</h5>
  </h2>

  <h2>
    <i class='fas fa-shipping-fast'></i>
    Shipping
    <h5>Across West & East India</h5>
  </h2>
</div>

<!-- Features product-->
<div fxLayout="row" fxLayoutAlign="start center">
  <h2 class="Product" style="color: #0a472e; padding-left: 30px;">° Featured Products</h2>
</div>

<div class="container">
  <h2>New Arrivels</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="product-top">
        <img src="../assets/35-450x420.jpg">
        <div class="overly">
          <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="fa fa-eye"></i></button>
          <button type="button" class="btn btn-secondary" title="Wishlist"><i class="fa fa-heart"></i></button>
          <button type="button" class="btn btn-secondary" title="Cart"><i class="fa fa-shopping-cart"></i></button>
        </div>
      </div>
<div class="product-bottom text-center">
  <i class="fa fa-star" ></i>
  <i class="fa fa-star" ></i>
  <i class="fa fa-star" ></i>
  <i class="fa fa-star" ></i>
  <i class="fa fa-star-half-o"></i>
  <i class="fa fa-star-o"></i>


</div>

    </div>
  </div>
</div>

<!-- <div fxLayout="row" class="body_img" fxLayoutAlign="space-evenly center">
  <img style=height:200px; src="../assets/35-450x420.jpg">
  <img style=height:200px; src="../assets/36-450x420.jpg">
  <img style=height:200px; src="../assets/37-450x420.jpg">
  <img style=height:200px; src="../assets/38-450x420.jpg">
</div> -->

<!-- Catagories Images -->

<div class= "CatImg" style="height: 400px; width: 100%; padding-top: 100px;" fxLayout="row" fxLayoutAlign="space-around stretch">
  <div fxFlex="20">
    <img style="height: 100%; width: 100%;" src="../assets/cate-1-h2.jpg">
  </div>
  <div fxFlex="60" style="background-color: yellow;" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <div>
      <img style="height: 100%; width: 100%;" src="../assets/cate-2-h2.jpg">
    </div>
    <div style="background-color: brown; height: 200px;" fxLayout="row" fxLayoutAlign="space-evenly stretch">
      <div fxFlex="50" style="background-color: aqua;">
        <img style="height: 100%; width: 100%;" src="../assets/image1-h8.jpg">
      </div>
      <div fxFlex="50">
        <img style="height: 100%; width: 100%;" src="../assets/image2-h8.jpg">
      </div>
    </div>
  </div>
  <div fxFlex="20">
    <img style="height: 100%; width: 100%;" src="../assets/cate-3-h2.jpg">
  </div>
</div>

<!-- Best Products -->

<div fxLayout="row" fxLayoutAlign="start center">
  <h2 class="Best_Product" style="color: #0a472e; padding-left: 30px;">° Best Products</h2>
</div>

<div fxLayout="row" class="body_img" fxLayoutAlign="space-evenly center">
  <img style=height:200px; src="../assets/39-450x420.jpg">
  <img style=height:200px; src="../assets/36-450x420.jpg">
  <img style=height:200px; src="../assets/40-450x420.jpg">
  <img style=height:200px; src="../assets/38-450x420.jpg">
</div>

<div fxLayout="row" class="contant_text" fxLayoutAlign="space-evenly center">
  <img style=height:500px; src="../assets/rev-slider_h2_img.png">
  <h1 style="font-family: sans-serif; color: #0a472e; padding-left: 12px; font-size: 28px;">A shop for good people<br> by
    good people
    <h4 style="color: #555; padding-top: 12px; padding-left: 12px; font-size: 16px;">
      Buy natural, sustainable and chemicalfree products from local sellers across the country.<br>
      We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good, do good, and spread
      goodness.<br> We are a democratic, self-sustaining, two-sided marketplace which thrives on trust and is built on
      community and quality content.
    </h4>
  </h1>
</div>

<div fxLayout="row" class="body_img" fxLayoutAlign="space-evenly center">
  <h1 style="color: #0a472e; padding-left: 20px; font-size: 28px;">
    Why customer love us
    <h4 style="color: #555; padding-top: 12px; font-size: 16px;">
      Buy natural, sustainable and chemicalfree products from local sellers across the country.<br>
      We are a strong community of 100,000+ customers and 600+ sellers who aspire to be good, do good, and spread
      goodness.<br> We are a democratic, self-sustaining, two-sided marketplace which thrives on trust and is built on
      community and quality content.
    </h4>
  </h1>
  <img class="farmer" style="padding-right:20px; height:300px; width:300px;"
    src="../assets/istockphoto-1158664559-612x612.jpg">
</div>

<!-- Footer Section -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>INFORMATION</h4>
        <ul>
          <li><a href="#">About us
            </a> </li>
          <li><a href="#">Check out
            </a> </li>
          <li><a href="#">Contact</a> </li>
          <li><a href="#">Service</a> </li>
        </ul>
      </div>

      <div class="footer-col">
        <h4> MY ACCOUNT
        </h4>
        <ul>
          <li><a href="#">My Account</a> </li>
          <li><a href="#">Contact</a> </li>
          <li><a href="#">Shopping cart</a> </li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4> CATEGORIES
        </h4>
        <ul>
          <li><a href="#">Fruits & Vegetables</a> </li>
          <li><a href="#">Morning Needs</a> </li>
          <li><a href="#">Specisl items</a> </li>
          <li><a href="#">Green Leaves</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4> Support
        </h4>
        <ul>
          <li><a href="#">Call Us
              <h3 style="color: greenyellow;">(1800)-88-66-991</h3>
            </a></li>
            <li><a href="#">Email Us
              <h3 style="color: greenyellow;">contact@example.com</h3>
            </a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4> Follow Us
        </h4>
        <ul>
          <li><a href="#"> <i class="fab fa-facebook"> Facebook </i></a></li>
            <li><a href="#"> <i class="fab fa-twitter"> Twitter </i></a></li>
            <li><a href="#"> <i class="fab fa-instagram"> Instagram </i></a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>